<div id = "logo-box"> logo </div>
<!-- add logo -->     
<div id = "link-box">  links </div> 
<!-- how are we going to stream in links? -->     
<div id = "login-box"> login 
<!-- need model popup here -->
</div>