<div class = "header">
	<a href="/" title="logo"><div id = "logo-box"> </div></a>
	<!-- add logo -->     
	<div id = "link-box">  links </div> 
	<!-- how are we going to stream in links? --> 
	<a href="/create" title="">
	  <div id = "create-box"> create </div>	
	</a>    

	<a href="/userpage" title="user">
		<div id = "login-box"> login </div>
	</a>
</div>