<a href="/post" title="">
	<div class = "forum-box-card">
		{{> global/vote}}
		<div class="body-container">
			<h1>Title</h1>
			<p class="score">Score</p>
			<h3>Description</h3>
			<p>comment</p>
		</div>
		
	</div>
</a>
