
<div class = "forum-box-card">
	{{> global/vote}}
	<div class="body-container">
		<h2 class="title" data-id="{{this.id}}">{{this.title}}</h2>
		<p class="score">{{this.score}}</p>
		<h3 class="description">{{this.content}}</h3>
		<p class="comment"><span class="comment-count"></span>comment(s)</p>
	</div>
	
</div>
