<a href="/post" title="">
	<div class = "forum-box-card">
		{{> global/vote}}
		<div class="body-container">
			<h1>Title</h1>
			<p class="score">Score</p>
			<h3 class="description">Description</h3>
			<p class="comment"><span class="comment-count"></span>comment(s)</p>
		</div>
		
	</div>
</a>
