
{{> global/header}}



<div class="container">
	<div class="row">
	  <div class="l-col">
	  	{{> forum/infobox}}
	  	 {{> forum/box}}
	  	 {{> forum/box}}
	  	 {{> forum/box}}
	  	 {{> forum/box}}
	  	 {{> forum/box}}
	  	 {{> forum/box}}
	  	 {{> forum/box}}
	  	 {{> forum/box}}
	  	 {{> forum/box}}
	  	 {{> forum/box}}
	  </div>

	  <div class="r-col">
	  	{{!-- {{if login=true}}
	  		{{> global/createforum}}
	  	{{else}}

	  	{{/if}} --}}
	  	{{> global/createform}}
	    {{> global/user}}
	    {{> global/timedate}}
	    {{> global/sentiment}}
	  </div>
	</div>  

</div>

<script src="public/assets/js/forum.js" type="text/javascript" charset="utf-8" async defer></script>
	