<div class = "header">
	{{> global/header}}
</div>

<div class="container">
	<div class="row">
	  <div class="l-col">
	  	 {{> main/box}}
	  	 {{> main/box}}
	  	 {{> main/box}}
	  </div>
	  <div class="r-col">
	    {{> global/user}}
	    {{> global/timedate}}
	    {{> global/sentiment}}
	  </div>
	</div>  
</div>
	