	 <div class = "header-container">
	   {{> global/header}}
	 </div>



	<div class="column-layout">
	  <div class="left-column">
	  	 <div class = "post-card">
         {{!-- {{ }} --}}
	     <h3> Post 1 </h3>
	     
	     </div>
       
	     <div class = "post-card">

	     <h3> Post 2 </h3>
	     
	     </div>

	  </div>

	  <div class="right-column">
	    <div id = "box-1"> Total Users </div>
	    {{> global/timedate}}
	    <div id = "box-3"> Box 3       </div>
	    
	  </div>
	</div>  

