{{> global/header}}



<div class="container">
	<div class="row">
	  <div class="l-col">
	  	 {{> post/comment}}
	  	 {{> post/comment}}
	  	 {{> post/comment}}
	  	 {{> post/comment}}
	  </div>

	  <div class="r-col">
	    {{> global/user}}
	    {{> global/timedate}}
	    {{> global/sentiment}}
	  </div>
	</div>  
</div>
	