<div class="comment-container">
	{{> global/vote}}
	<div class="body-container">
		<h3>Title</h3>
		<span class="score"></span>
		<a href="" title="">
			<p class="user">User</p>
		</a>
		{{#each this.comments}} {{!??}}
			<div class="comment">
				<p>{{this.comments.content}}</p>
			</div>
		{{/each}}
		<div class="reply-section">
		   <section class="c-reply">reply</section>
		   <section class="reply-pullout">
		   	  <form action="" method="post" class="usrform">
				  <textarea type="text" class="replybox" name="replybox"></textarea>
				  <button type="submit" class="replybox-submit"> Add Comment </button>
			   </form>
		   </section>
	    </div>
	</div>
</div>