<div class="comment-container">
	{{> global/vote}}
	<div class="body-container">
		<h4>Title</h4>
		<span class="score"></span>
		<a href="" title="">
			<p class="user">User</p>
		</a>
		<div class="comment">
			<p>The intent is to provide players with a sense of pride and accomplishment for unlocking different heroes.
As for cost, we selected initial values based upon data from the Open Beta and other adjustments made to milestone rewards before launch. Among other things, we're looking at average per-player credit earn rates on a daily basis, and we'll be making constant adjustments to ensure that players have challenges that are compelling, rewarding, and of course attainable via gameplay.
We appreciate the candid feedback, and the passion the community has put forth around the current topics here on Reddit, our forums and across numerous social media outlets.
Our team will continue to make changes and monitor community feedback and update everyone as soon and as often as we can.</p>
<p>The intent is to provide players with a sense of pride and accomplishment for unlocking different heroes.
As for cost, we selected initial values based upon data from the Open Beta and other adjustments made to milestone rewards before launch. Among other things, we're looking at average per-player credit earn rates on a daily basis, and we'll be making constant adjustments to ensure that players have challenges that are compelling, rewarding, and of course attainable via gameplay.
We appreciate the candid feedback, and the passion the community has put forth around the current topics here on Reddit, our forums and across numerous social media outlets.
Our team will continue to make changes and monitor community feedback and update everyone as soon and as often as we can.</p>
		</div>
		<div class="reply-section">
		   <section class="c-reply">reply</section>
		   <section id="reply-pullout">
		   	  <form action="/action_page.php" id="usrform">
				  <input type="text" id="replybox" name="replybox">
				  <button type="submit" id="replybox-submit"> Add Comment </button>
			   </form>

		   </section>

	    </div>
	</div>
</div>