<div class="comment-container">
	{{> global/vote}}
	<div class="body-container">
		<h4>Title</h4>
		<span class="score"></span>
		<a href="" title="">
			<p class="user">User</p>
		</a>
		<p class="comment">comment</p>
		<p class="c-reply">reply</p>
	</div>
</div>