.header {
    position: fixed;

    width: 100%;
    top: 0;
    background: rgba(0, 0, 0, 1);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    transition: all 1s ease-in-out;
    z-index: 1000;
    color: white;
    transition: all .2s ease-in-out;
    &.sticker {
        border-bottom: 1px solid white;
        background: rgba(0, 0, 0, 1);
    }
    &:after {
        content: "";
        clear: both;
        display: block;
    }
    #logo-box {
        display: inline-block;
        float: left;
        width: 300px;
        width: 75px;
        height: 50px;
        margin: 25px;
        background: url('../images/echopack-logo.png');
        background-repeat: no-repeat;
        background-size: contain;
        color: white;
        transition: all .2s ease-in-out;
        &:hover {
            transform: scale(1.1);
        }
    }
    #link-box {
        display: inline-block;
        float: left;
        padding: 22.5px;
        margin: 20px;
    }
    #login-box {
        display: inline-block;
        float: right;
        padding: 19.5px 40px;
        height: 100%;
        transition: all .2s ease-in-out;
        border: 3px solid transparent;
        color: white;
        margin: 20px;
        &:hover {
            color: black;
            background: white; 
            // border: 3px solid white;
            // border-right: 3px solid transparent;
        }
    }
    #create-box {
        display: inline-block;
        float: right;
        padding: 19.5px 40px;
        height: 100%;
        transition: all .2s ease-in-out;
        border: 3px solid transparent;
        background:black;
        color: white;
        margin: 20px;
        &:hover {
            color: black;
            background: white;
        }
    }                      
}