.postb-container {
    .postb-text {}
    .bottom-s {
        .user-controls {
            .postc-submit {
                border: 1px solid #cdcdcd;
                -webkit-webkit-appeareance: none;
                -moz-webkit-appeareance: none;
                -ms-webkit-appeareance: none;
                -o-webkit-appeareance: none;
                webkit-appeareance: none;
                background: white;
                padding: 5px 10px;
                cursor: pointer;
                transition: all .333s ease;
                &:hover{
                	color: white;
                	background: black;
                	border: 1px solid black;
                }
            }
        }
    }
}