.signup-log-form {
    padding: 40px;
    max-width:600px;
    margin:40px auto;
    border-radius:4px;
    box-shadow:0 4px 10px 4px rgba($bl,.3);
    border: 1px solid $bl;
	.tab-group {
	   list-style:none;
	   &:after {
          content:"";
          display:table;
          clear:both;
	   }
	   li a {
	   	  text-decoration:none;
	      display:block;
	 	  float:left;
	 	  padding:15px;
	 	  width:50%;	
	 	  font-size:20px;
	 	  text-align:center;
	 	  cursor:pointer;
	 	  border: 1.75px solid $bl;
	 	  border-collapse:collapse;
          border-radius: 1px;
          transition: all .2s ease-in-out;
	 	  &:hover {
	 	     background-color: $drk-bl;
	 	     color:white;   
	 	  }
	   }
    }
    .tab-content {

        h1 {
        	text-align:center;
        }
	    textarea {
	       border:2px solid #a0b3b0;
	       resize: vertical;
	    }
	    .top-row {
	            &:after {
	                content: "";
	                display: table;
	                clear: both;
	            }
	            div {
	                 float:left;
				     width:40%;
				     margin-right:4%;	
	            }
	            .field-wrap {
	            	position:relative;
	            	margin-bottom:40px;
	            	-webkit-appearance: none;
	            }
	        }    
	    .field-wrap {
	        position:relative;
	        margin-bottom:40px;
	        -webkit-appearance: none;
	        
	    }
	    .button-block {
	        display:block;
			width:25%;
			font-size:2rem;
	        margin:0px auto;
	        padding:10px 15px;
	        -webkit-appearance: none;
	        background: white;
	        border: 2.5px solid $bl;
	        border-radius: 1px;
	        transition: all .2s ease-in-out;
			&:hover {
			   background-color:$drk-bl;
			   color: white;
			}
	    }
	}    
}    